.question-form {
  height: 100%;
  margin-top: 4rem;
  padding: 0;

  &__header {
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
  }

  .times-icon {
    color: $lightGray;
    font-size: 3rem;
    position: absolute;
    left: 1.5rem;
  }

  &__title {
    font-size: 3rem;;
  }

  .form-group {
    margin-bottom: 0;
  }

  &__textarea.text {
    border-radius: 0;
    height: 50rem;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  &__submit-btn {
    background-color: #D9D9D9;
    border-radius: .5rem;
    box-sizing: border-box;
    font-size: $btnFontSize;
    padding: 1rem;
    width: 17rem;
  }
}
