.question {
  display: flex;
  margin-bottom: 4rem;

  &:first-child {
    margin-top: 1.5rem;
  }

  &__user {
    height: 6rem;
    width: 6rem;

    &__img {
      border-radius: 3px;
      height: 6rem;
      width: 6rem;
    }
  }

  &__baloon {
    border: 1px solid $lightGray;
    border-radius: .5rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: 2.4rem;
    margin-left: 1rem;
    position: relative;
    width: calc(100% - 7rem);
    word-wrap: break-word;

    &::before {
      border: 8px solid transparent;
      border-right: 7px solid white;
      content: "";
      margin-top: -1rem;
      position: absolute;
      top: 2rem;
      left: -1.4rem;
      z-index: 2;
    }

    &::after {
      border: 8px solid transparent;
      border-right: 8px solid $lightGray;
      content: "";
      position: absolute;
      top: 2rem;
      left: -1.7rem;
      margin-top: -1rem;
      z-index: 1;
    }

    &__text {
      display: block;
      margin: 1.6rem;
    }

    &__answer {
      border-top: 1px solid $lightGray;
      display: block;
      padding: 1.6rem;
    }
  }
}
