.question {
  display: flex;
  margin-bottom: 42px;

  &__user {
    height: 60px;
    width: 60px;

    &__img {
      border-radius: 3px;
      height: 60px;
      width: 60px;
    }
  }

  &__baloon {
    border: 1px solid $lightGray;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 24px;
    margin-left: 10px;
    position: relative;
    width: calc(100% - 70px);
    word-wrap: break-word;

    &::before {
      border: 8px solid transparent;
      border-right: 7px solid white;
      content: "";
      margin-top: -10px;
      position: absolute;
      top: 20px;
      left: -14px;
      z-index: 2;
    }

    &::after {
      border: 8px solid transparent;
      border-right: 8px solid $lightGray;
      content: "";
      position: absolute;
      top: 20px;
      left: -17px;
      margin-top: -10px;
      z-index: 1;
    }

    &__text {
      display: block;
      margin: 16px;
    }

    &__answer {
      border-top: 1px solid $lightGray;
      display: block;
      padding: 16px;
    }
  }
}
