body {
  font-family: Hiragino Sans, Hiragino Kaku Gothic ProN, Roboto, "Droid Sans", YuGothic, Meiryo, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// bootstrapを上書き
.help-block {
  color: #a94442;
}
