.edit-password-title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: 6rem 0 2rem;
}

.edit-password-action {
  display: flex;
  justify-content: center;
}

.edit-password-submit {
  background-color: $mainColor;
  border-radius: .5rem;
  color: white;
  font-size: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  width: 17rem;
}
