.registration {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
  width: 100%;

  &__wrapper {
    border: 1px solid rgb(151, 151, 151);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 40px 10px;
    width: 100%;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }

  .form-actions {
    display: flex;
    justify-content: center;
  }

  &__submit-btn {
    background-color: $mainColor;
    color: white;
    font-size: 12px;
  }
}
